name: Deploy Blazor to Vercel

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'

      - name: Clean old publish output
        run: rm -rf release

      - name: Publish Blazor WASM
        run: dotnet publish BlazorPortfolio/BlazorPortfolio/BlazorPortfolio.csproj -c Release -o release

      - name: Debug publish output
        run: ls -la release/wwwroot

      - name: Deploy to Vercel
        uses: amondnet/vercel-action@v20
        env:
          VERCEL_TOKEN: ${{ secrets.VERCEL_TOKEN }}
          VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
          VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}
        with:
          args: --prod

